{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title%}Employee Form {% endblock %}

{% block body %}

    <form action ="" method ="post" autocomplete ="off">
        {% csrf_token %}
        {% comment %} {{ form|crispy }} {% endcomment %}
        {{ form.fullName|as_crispy_field }}
        {{ form.mobileNum|as_crispy_field }}
        
        <div class="row">
            <div class="col-md-4">
                {{ form.emp_code|as_crispy_field }}
            </div>
            <div class="col-md-8">
                {{ form.position|as_crispy_field }}
            </div>
        </div>

        
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg">
                    <li class="fas fa-database"></li> Submit
                </button>
            </div>
            
            <div class="col-md-4">
                <a href="{% url 'employeeList' %}" class="btn btn-secondary btn-block btn-lg">
                    <i class="fas fa-stream"></i> List
                </a>
            </div>
        </div>
        
    </form>

{% endblock %}